<div class="jumbotron text-center">
    <h1>Contact Page</h1>

    <h3>Please feel free to contact us.</h3>

    <br>

    <form action="/action_page.php">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    {{input type="email" class="form-control" id="email" placeholder="Enter your e-mail" value=emailAddress}}
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="message">Message</label>
                    {{textarea id="message" class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}
                </div>
            </div>
        </div>
        <button disabled={{unless isDisabled 'disabled'}} {{action 'sendMessage'}} class="btn btn-primary btn-lg">Submit</button>
    </form> 

  <br/><br/>

  {{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
  {{/if}}
</div>